@import 'styles/variables.scss';
@import 'styles/mixins.scss';
@import 'styles/styles.scss';

.favorites {
    width: 100%;
    height: 100vh;
    overflow: auto;

    &__wrapper {
        max-width: 1240px;
        width: 100%;
        margin: 0 auto;
        margin-top: 100px;
    }

    &__title {
        font-size: 40px;
        text-align: center;
    }

    &__subtitle {
        font-size: 25px;
        font-weight: 500;
        text-align: center;

        &-empty {
            color: $brand;
        }
    }

    &__cards  {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 75px;
        margin-bottom: 50px;
    }
}



@keyframes rotate {
    from {
        transform: rotate(0deg) scale(1);
    }

    to {
        transform: rotate((360deg)) scale(1.4);
    }
}

.end__list-message {
    color: $brand;
    width: 100%;
    text-align: center;
    margin-top: $space-xl;
}



@include tablet {
    .favorites__wrapper {
        max-width: 1100px;
    }
}

@include largeTablet {
    .favorites {
        &__wrapper {
            max-width: 900px;
        }

        &__cards {
            gap: 30px;
        }
    }
}
  
@include mediumTablet {
    .favorites__wrapper {
      max-width: 800px;
    }
}
  
@include smallTablet {
    .favorites {
        &__wrapper {
            max-width: 700px;
        }
        &__cards {
            grid-template-columns: 1fr 1fr;
            gap: 50px
        }
    }
}
  
@include mobileLandscape {
    .favorites__wrapper {
        max-width: 600px;
    }
}
  
@include mobile {
    .favorites {
        &__wrapper {
            max-width: 500px;
        }
    
        &__title {
            font-size: 30px;
        }
    
        &__subtitle {
            font-size: 20px;
        }

        &__cards {
            grid-template-columns: 1fr 1fr;
            gap: 20px
        }
    }
}
  
@include smallMobile {
    .favorites {
        &__wrapper {
            max-width: 450px;
        }
    
        &__title {
            font-size: 26px;
        }
    
        &__subtitle {
            font-size: 18px;
        }

        &__cards {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px
        }
    }
}
  
@include extraSmallMobile {
    .favorites__wrapper {
      max-width: 380px;
    }
}
  
@include ultraSmallMobile {
    .favorites__wrapper {
      max-width: 330px;
    }
}
  
@include tinyMobile {
    .favorites__wrapper {
      max-width: 290px;
    }
}