@import 'styles/variables.scss';
@import 'styles/mixins.scss';
@import 'styles/styles.scss';

.plan {
    &__page {
        width: 100%;
        height: 100vh;
        overflow: auto;
    }

    &__wrapper {
        max-width: 1240px;
        width: 100%;
        margin: 0 auto;
        margin-top: 113px;
        margin-bottom: 55px;
    }

    &__title {
        margin-bottom: 30px;
    }

    &__form {
        width: 50%;
        padding-top: 20px;
    }
    
}

.checkbox__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.plan__form {
    &-wrapper {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &-button {
        margin-top: 15px;
    }
}

.slider__block {
    display: flex;
    flex-direction: column;
}

.slider__item {
    width: 100%;
    margin-top: 40px;
}

.plan__info {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.plan__list {
    min-width: 40%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &-block-title {
        margin-top: 40px;
        font-size: 34px;
        color: $text-primary;
        font-weight: bold;
    }

    &-title {
        font-size: 30px;
        line-height: 30px;
        color: $text-primary;
        margin-bottom: 5px;
    }

    &-info {
        font-size: 22px;
        color: $brand;
    }
}

.plan__nutrients {
    min-width: 40%;
}

.loader__wrapper {
    width: 100%;
    height: 100vh;
    margin-top: 113px;
    display: flex;
    justify-content: center;
}

.loader {
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg) scale(1);
    }

    to {
        transform: rotate((360deg)) scale(1.4);
    }
}
