@import 'styles/variables.scss';
@import 'styles/mixins.scss';
@import 'styles/styles.scss';

.detailed {
    &__page {
        width: 100%;
        height: 100vh;
        overflow: auto;
    }

    &__wrapper {
        max-width: 1240px;
        width: 100%;
        margin: 0 auto;
        margin-top: 113px;
        margin-bottom: 55px;
    }
}

.content__title-flex {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 37px;
}

.content__title {
    color: $text-primary;
    font-size: 44px;
    line-height: 48px;
}

.back__button {
    cursor: pointer;
    height: 26px;
}

.main__info {
    display: flex;
    align-items: center;
    gap: 166px;
    margin-bottom: 50px;

    &-image {
        max-width: 450px;
        border-radius: $border-radius;
    }

    &-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 100px;
        row-gap: 50px;
        max-height: 150px;
        width: auto;

        &-item {
            width: auto;
            display: flex;
            flex-direction: column;
            gap: $space-xxs;
        }
    }
}

.features {
    display: flex;
    margin-top: 55px;
    margin-bottom: 50px;

    &__item {
        width: 48%;

        &-title {
            margin-bottom: $space-xl;
            font-size: 26px;
            font-weight: bold;
        }
    }
}

.separator {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__line {
        width: 1px;
        height: 100%;
        background-color: $brand;
        content: '';
        margin: 3px 53px 0 53px;
    }

    &__dot {
        position: relative;
        width: 7px;
        height: 7px;

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            background-color: $brand;
            width: 100%;
            height: 100%
        }
    }
}

.features__ingredients-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    row-gap: 10px;
}

.features__equipment-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    row-gap: 10px;
}

.loader__wrapper {
    width: 100%;
    height: 100vh;
    margin-top: 113px;
    display: flex;
    justify-content: center;
}

.loader {
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg) scale(1);
    }

    to {
        transform: rotate((360deg)) scale(1.4);
    }
}



@include tablet {
    .detailed__wrapper {
      max-width: 1100px;
    }
}
  
@include largeTablet {
    .detailed__wrapper {
      max-width: 900px;
    }

    .content__title {
        font-size: 36px;
        line-height: 40px;
    }

    .main__info {
        gap: 70px;

        &-content {
            column-gap: 50px;
        }
    }

    .features__ingredients-content {
        column-gap: 30px;
    }
    
    .features__equipment-content {
        column-gap: 30px;
    }
}
  
@include mediumTablet {
    .detailed__wrapper {
      max-width: 800px;
    }

    .content__title {
        font-size: 32px;
        line-height: 36px;
    }

    .main__info {
        align-items: flex-start;
        &-content {
            grid-template-columns: 1fr 1fr;
            column-gap: 50px;
            row-gap: 25px;
        }
    }

    .features {
        flex-direction: column;
        margin-bottom: 0;
    }

    .features__item {
        width: 100%;
        margin-bottom: 35px;
    }

    .features__ingredients-content {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 50px;
    }

    .features__equipment-content {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 50px;
    }

    .separator {
        display: none;
    }
}
  
@include smallTablet {
    .detailed__wrapper {
      max-width: 700px;
    }

    .main__info {
        gap: 50px;

        &-image {
            max-width: 380px;
        }

        &-content {
            column-gap: 30px;
            row-gap: 25px;
        }
    }
}
  
@include mobileLandscape {
    .detailed__wrapper {
      max-width: 600px;
    }

    .content__title {
        font-size: 28px;
        line-height: 32px;
    }

    .main__info {
        gap: 35px;

        &-image {
            max-width: 300px;
        }
    }
}
  
@include mobile {
    .detailed__wrapper {
      max-width: 500px;
    }

    .content__title {
        font-size: 22px;
        line-height: 26px;
    }

    .main__info {
        flex-direction: column;
        align-items: center;

        &-image {
            max-width: 100%;
        }

        &-content {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    .features__ingredients-content {
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;
    }

    .features__equipment-content {
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;
    }
}
  
@include smallMobile {
    .detailed__wrapper {
      max-width: 450px;
    }

    .content__title {
        font-size: 20px;
        line-height: 20px;
    }
}
  
@include extraSmallMobile {
    .detailed__wrapper {
      max-width: 380px;
    }

    .features__ingredients-content {
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }

    .features__equipment-content {
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }
}
  
@include ultraSmallMobile {
    .detailed__wrapper {
      max-width: 330px;
    }

    .features__ingredients-content {
        grid-template-columns: 1fr;
        column-gap: 20px;
    }

    .features__equipment-content {
        grid-template-columns: 1fr;
        column-gap: 20px;
    }
}
  
@include tinyMobile {
    .detailed__wrapper {
      max-width: 290px;
    }

    .main__info {
        &-content {
            grid-template-columns: 1fr 1fr;
        }
        margin-bottom: 80px;
    }
}