@import 'styles/styles.scss';
@import 'styles/variables.scss';

.recipes__page-cards {
    margin-top: 48px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 75px;
}



@media(max-width: 1150px) {
    .recipes__page-cards {
        gap: 30px
    }
}

@media(max-width: 850px) {
    .recipes__page-cards {
        grid-template-columns: 1fr 1fr;
        gap: 50px
    }
}

@media(max-width: 620px) {
    .recipes__page-cards {
        grid-template-columns: 1fr 1fr;
        gap: 20px
    }
}

@media(max-width: 520px) {
    .recipes__page-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px
    }
}