@import 'styles/styles.scss';
@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.plan__list {
    min-width: 40%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &-title {
        font-size: 25px;
        line-height: 30px;
        color: $text-primary;
        margin-bottom: 5px;
    }

    &-title-hover {
        font-size: 25px;
        line-height: 30px;
        color: $text-primary;
        margin-bottom: 5px;

        &:hover {
            text-decoration: underline;
        }
    }

    &-info {
        font-size: 22px;
        color: $brand;
    }
}