@import 'styles/variables.scss';
@import 'styles/styles.scss';

.header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 64px;
    background-color: $default-color;

    &__wrapper {
        position: relative;
        max-width: 1240px;
        height: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 auto;
    }

    &__title {
        font-size: 20px;
        font-weight: 700;
        margin-left: 20px;
    }

    &__blocks {
        margin-left: 80px;
    }

    &__block {
        margin-left: $space-m;
        cursor: pointer;
        transition: color .2s ease;

        &:hover {
            color: $brand;
        }
    }
}

.icons {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    gap: 17px;

    &__item {
        cursor: pointer;
    }
}

.burger__icon {
    display: none;
}



@media(max-width: 1300px) {
    .header__wrapper {
        max-width: 1100px;
    }
}

@media(max-width: 1150px) {
    .header__wrapper {
        max-width: 900px;
    }
}

@media(max-width: 950px) {
    .header__wrapper {
        max-width: 800px;
    }
}

@media(max-width: 850px) {
    .header__wrapper {
        max-width: 700px;
    }

    .burger__icon {
        display: inline-block;
    }

    .header__block {
        display: none;
    }
}

@media(max-width: 750px) {
    .header__wrapper {
        max-width: 600px;
    }
}

@media(max-width: 620px) {
    .header__wrapper {
        max-width: 500px;
    }
}

@media(max-width: 520px) {
    .header__wrapper {
        max-width: 450px;
    }
}

@media(max-width: 460px) {
    .header__wrapper {
        max-width: 380px;
    }
}

@media(max-width: 390px) {
    .header__wrapper {
        max-width: 330px;
    }
}

@media(max-width: 340px) {
    .header__wrapper {
        max-width: 290px;
    }
}