@import 'styles/variables.scss';
@import 'styles/mixins.scss';
@import 'styles/styles.scss';

.header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 64px;
    background-color: $default-color;

    &__wrapper {
        position: relative;
        max-width: 1240px;
        height: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 auto;
    }

    &__title {
        font-size: 20px;
        color: $text-primary;
        font-weight: 700;
        margin-left: 20px;
    }

    &__blocks {
        display: flex;
        width: 70%; 
        justify-content: center;  
        gap: 50px;
    }

    &__block {
      color: $text-primary;
      font-size: 20px;
      margin-left: $space-m;
      cursor: pointer;
      transition: color .2s ease;

      &:hover {
          color: $brand;
      }
    }
}

.icons {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    gap: 17px;

    &__item {
        cursor: pointer;
    }
}

.burger__icon {
    display: none;
}

.cancel__icon {
    display: none;
}

.burger__menu {
    display: none;
}

// .profile__link {
//   max-height: 24px;
// }




@include tablet {
    .header__wrapper {
      max-width: 1100px;
    }
}
  
@include largeTablet {
    .header__wrapper {
      max-width: 900px;
    }
}
  
@include mediumTablet {
    .header__wrapper {
      max-width: 800px;
    }
}
  
@include smallTablet {
    .header__wrapper {
      max-width: 700px;
    }
  
    .burger__icon {
      display: inline-block;
      margin-bottom: 5px;
    }
  
    .cancel__icon {
      display: inline-block;
      position: relative;
      width: 24px;
      height: 24px;
      margin-bottom: 5px;
    }
  
    .cancel__icon::before,
    .cancel__icon::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 2px;
      background-color: $brand;
      transform-origin: center;
    }
  
    .cancel__icon::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  
    .cancel__icon::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  
    .header__block {
      display: none;
    }
  
    .burger__menu {
      display: block;
      z-index: 1000;
      position: absolute;
      top: calc(100% + 10px);
      right: 0;
      width: 200px;
      height: auto;
      background-color: $brand;
      display: flex;
      flex-direction: column;
      box-shadow: $box-shadow;
      border-radius: $border-radius;
  
      &-item {
        padding: $space-m;
        color: $default-color;
        cursor: pointer;
        transition: color .2s ease;
  
        &:hover {
          color: $text-secondary;
        }
      }
    }
}
  
@include mobileLandscape {
    .header__wrapper {
      max-width: 600px;
    }
}
  
@include mobile {
    .header {
      &__wrapper {
        max-width: 500px;
      }

      &__title {
        font-size: 18px;
        min-width: 100px;
      }
    }
}
  
@include smallMobile {
    .header__wrapper {
      max-width: 450px;
    }
}
  
@include extraSmallMobile {
    .header__wrapper {
      max-width: 380px;
    }
}
  
@include ultraSmallMobile {
    .header__wrapper {
      max-width: 330px;
    }
}
  
@include tinyMobile {
    .header__wrapper {
      max-width: 290px;
    }
}