@import '../../styles/variables.scss';
@import '../../styles/styles.scss';

.custom-checkbox_enable {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    background: $default-color;
    border: 1px solid $default-color;
    border-radius: $border-radius;
}

.custom-checkbox_enable:hover {
    border: 1px solid $brand;
}

.custom-checkbox_disable {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 0px;
    border: 1px solid rgba(255, 255, 255, 0.00);
    background: rgba(255, 255, 255, 0.50);
}

.checkbox {
    display: none;
}

.fake {
    position: absolute;
    bottom: -1px;
    right: -1px;
    height: 40px;
    width: 40px;
    display: inline-block;
}