@import '../../styles/variables.scss';
@import '../../styles/styles.scss';

.recipes__page {
    width: 100%;
    height: 100%;
    background: rgba(255, 192, 118, 0.23);
}

.recipes__page-wrapper {
    max-width: 1240px;
    margin: 0 auto;
}

.recipes__page-cards {
    margin-top: 64px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 65px;
}

.search__title {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 48px;
}

.search__block {
    display: flex;
    gap: 20px;
}