@import '../../styles/variables.scss';
@import '../../styles/styles.scss';

.recipes__page {
    width: 100%;
    height: 100%;
}

.recipes__page-wrapper {
    max-width: 1240px;
    margin: 0 auto;
}

.recipes__page-cards {
    margin-top: 48px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 65px;
}

.search__title {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 48px;
}

.search__info-block {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.filter__error-title {
    padding-top: 20px;
    width: 100%;
    text-align: center;
    color: red;
}

.search__input-block {
    width: 100%;
    display: flex;
    gap: 20px;
}

.selection__block {
    width: 300px;
    padding-top: 20px;
}